*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    

}


body{
    background-attachment: blue;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

}


.booking-container {
    background: rgba(255, 255, 255, 0.95);
    border-radius: 20px;
    
    width: 100%;
    max-width: 450px;
    padding: 40px;
    backdrop-filter: blur(10px);
}

.booking-header{
    color: black;
    padding-block-end: 0%;
    text-align: center;
    font-size: larger;


}

.booking-header p{

    color:  blue;
    padding: auto;
    text-align: center
    font-size: small;
}


.ticket-booking{
    
    color: black;
    text2
}
